<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start">
            <a ui-sref="dashboard">
                <i class="icon-home"></i>
                <span class="title">首页</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">图书信息维护</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a ui-sref="add_newbooks">
                        <i class="icon-puzzle"></i><span>图书新增</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="query_newbooks">
                        <i class="icon-paper-clip"></i><span>图书查询</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a ui-sref="maintenance" href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-wrench"></i>
                <span class="title">共读维护</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-user"></i>
                <span class="title">统计分析</span>
                <span class="arrow"></span>
            </a>
             <ul class="sub-menu">
                <li>
                    <a ui-sref="echarts" >
                        <i class="icon-puzzle"></i><span>个人签到</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-paper-clip"></i><span>报名情况</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-paper-clip"></i><span>签到统计</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>