<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> UI echars
    <small>bootstrap components written in pure AngularJS</small>
</h3>

<!--  饼状图   开始 -->
	 <div class="container-fluid">
        <div class="row-fluid example">
            <div id="graphic" style="display: inline-block;">
            	<!--  个人签到区间统计，病状图    -->
                <div id="mainPie" class="mainPie" style="width:600px;height:600px;"></div>
                <!--  签到统计，折线图    -->
                <div id="mainLine1" class="mainPie" style="width:600px;height:600px;"></div>
                <!--  报名情况，折线图    -->
                <div id="mainLine2" class="mainPie" style="width:1000px;height:400px;"></div>
            </div>
        </div><!--/row-->
        
        </div>
