<div class="portfolio-content">
    <div class="cbp-l-project-title">Dashboard</div>
    <div class="cbp-l-project-subtitle">by Paul Flavius Nechita</div>
    <div class="cbp-slider">
        <ul class="cbp-slider-wrap">
            <li class="cbp-slider-item">
                <a href="../css/globalImg/06.jpg" class="cbp-lightbox">
                    <img src="../css/globalImg/06.jpg" alt=""> </a>
            </li>
            <li class="cbp-slider-item">
                <a href="../css/globalImg/08.jpg" class="cbp-lightbox">
                    <img src="../css/globalImg/08.jpg" alt=""> </a>
            </li>
            <li class="cbp-slider-item">
                <a href="../css/globalImg/77.jpg" class="cbp-lightbox">
                    <img src="../css/globalImg/77.jpg" alt=""> </a>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <br></div>