 <ion-view view-title="当期共读">
	<ion-content>
		<div style="background-color: #fff;">
		<div style="width:100%;height:200px; background-image: url(img/bg.png); background-repeat: no-repeat;background-size:100% 100%;">
			<div class="row">
				<div class="col" style="text-align: center;">
					<h2 style="color: #fff; margin-top: 0.5em; margin-bottom: 1em;letter-spacing: 4px;font-size: 1.6em;">{{now.gdTitle}}</h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col col-20 ">
					<div class="col-offset-20" style="width:6em;height:6em; border-radius: 50%; background-image: url(img/login_logo.png);background-repeat: no-repeat;background-size:100% 100%;"></div>
				</div>
				<div class="col col-60 col-offset-10 white" style="margin-top:2%">
					<p class="nameTitle" style="margin-top: 0.5em">{{now.gdSlogan}}</p>
					<p class="sTitle" style="margin-top: 1em">{{now.sponsorUser}}</p>
				</div>
			</div> 
		</div>
		<ion-list>
			<ion-item style="border:none; margin-top: 1em;">
				<h2 class="center padding topicTitle">-&nbsp;本期共读&nbsp;-</h2>
				<p class="center padding" style="margin-bottom: 10px;">【 计划周期： {{now.gdBeginDate}}-{{now.gdEndDate}} 】</p>
				
			  <!--does-continue="true" -->
				<ion-slide-box ng-if="now.gdBook" active-slide="myActiveSlide" style="width:100%;" auto-play="true" 
					 slide-interval="4000" delegate-handle="slideimgs" >
					
					<ion-slide class='padding' ng-repeat="items in now.gdBook">
						<div class="box" style="width: 340px;">
							<div class="row" style="align-content: center;">
								<div style="width:110px; height:140px; border:0px solid #000;margin-left: 40px;"  >
									<img ng-src="{{items.bookSltPath}}" ui-sref="tab.topic-detail({'id':items.bookId})" style="width: 100%;height: 100%;" />
								</div>
								<div style="border:0px solid #000;letter-spacing: 2px;line-height: 30px;width:230px;text-align:left; padding:3px;margin-left:8px;height:140px;">
									<p style="color: #387ef5;white-space: initial;">书名:{{items.bookName}}</p>
									<p style="color: #387ef5;">作者:{{items.bookAuthor}}</p>	
									<p style="color: #387ef5;">出版社:{{items.bookTag}}</p>
								</div>
							</div>
						</div>
					</ion-slide>
				</ion-slide-box>
			</ion-item>
			<ion-item style="border:none;">
				<h2 class="center padding topicTitle">-&nbsp;共读情况&nbsp;-</h2>
				<p class="center padding" style="margin-bottom: 10px;">已报名&nbsp;<span style="color: #387ef5;font-size: 1.6em; font-weight: bold;" id="spanApplyNum">{{now.applyNum}}</span>&nbsp;人 </p>
			</ion-item>
		</ion-list>
	</div>
	<ion-list >
		<ion-item style="border:none; margin-top: 1em;">
			<h2 class="center padding topicTitle">-&nbsp;剩余报名时间&nbsp;-</h2>
				<div class="colockbox" id="demo01">
					<span class="day">-</span>
					<span class="hour">-</span>
					<span class="minute">-</span>
					<span class="second">-</span>
				</div>
		</ion-item>
	</ion-list>
	<ion-list >
		<ion-item style="border:none; margin-top: 1em;">
			<h2 class="center padding topicTitle">-&nbsp;共读说明&nbsp;-</h2>
			<div style="border: 1px #CCCCCC solid;border-radius:6px;margin: 10px;"><p style="line-height: 20px;letter-spacing: 2px;width:90%;margin: 5%;white-space:initial;">{{now.gdInstr}}</p></div>
		</ion-item>
	</ion-list>
	<div class="content padding">
		<button class="button button-block button-positive" disabled="true" id="gdapply" ng-click="apply(now.gdId,now.applyFlag,now.userToken)">
			<span class="topicTitle" id="confirm">立即报名</span>
			<span class="topicTitle" id="cancel">取消报名</span>
			<span class="topicTitle" id="down_">已结束</span>
		</button>
	</div>
	</ion-content>
</ion-view>
<script type="text/JavaScript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>

    var url = window.location.href; 
    var discuss ; 
    var title ; 
    var shareImgUrl=""; 
    var timestamp; 
    var noncestr; 
    var signature; 
    //var topicid = getUrlParameter('topicid'); 
   // var userid =  getUrlParameter('userid'); 
    //$.ajax({ 
      //  type: 'GET', 
       // url:  'topic/get?topicid=' + topicid+ '&userid=' + userid 
    //}).then(function successCallback(response) { 
     //   var data = jsonToObj(response); 
    //    discuss=data.data.discuss; 
    //    title=data.data.title; 
   // }, function errorCallback(response) { 
   //     console.log("error"); 
  // }); 

jQuery(document).ready(function() {
	 
	$.ajax({  
		    type: "GET",  
		    url: "subser/WebChatShareController/getSignature",  
		    data:{url:url},  
		    success: function(data){  
		        console.log("success");  
		        var objData=JSON.parse(data);  
		        timestamp=objData.timestamp;  
		        noncestr=objData.noncestr;  
		        signature=objData.signature;  
		        console.log(objData);  
		        wxShare();  
		    }, 
		    statusCode: {404: function(){  
		        alert('page not found');  
		    }}  
		});  
		function wxShare(){  
		    wx.config({  
		        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。  
		        appId: 'wxb89606f58305f38d', // 和获取Ticke的必须一样------必填，公众号的唯一标识  
		        timestamp:timestamp, // 必填，生成签名的时间戳  
		        nonceStr: noncestr, // 必填，生成签名的随机串  
		        signature: signature,// 必填，签名，见附录1  
		        jsApiList: [  
		            'onMenuShareTimeline','onMenuShareAppMessage','hideMenuItems' 
		        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2  
		    });
			  wx.ready(function(){
			  	
			  			wx.hideMenuItems({
                    menuList: ['menuItem:share:qq',
                               'menuItem:share:weiboApp',
                               'menuItem:favorite',
                               'menuItem:share:facebook',
                               '/menuItem:share:QZone'], // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
                    success:function(res){
                        // alert("隐藏");
                    }
                });
			  	
				 			// 获取“分享给朋友”按钮点击状态及自定义分享内容接口
		          wx.onMenuShareAppMessage({
		              title: "1231123",
		              desc: "11111",
		              link: url,
		              imgUrl:'http://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83erfJg8Y6J7dicQ2iaYCbprMP4E911PFlR0lbuBIfc4FqLRrbk89FYCDMojte2p13icHc6Kibmpb5I6BZQ/132',
		              type: 'link',
		              dataUrl: '',
		              success: function () {
		                  alert("final success3");
		              },
		               cancel: function () {   
				            // 用户取消分享后执行的回调函数  
				            alert("分享给朋友失败");  
					        }
					 		});
					 		wx.error(function(res){
			            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
			            alert("errorMSG:"+res);
			        });
				          
				    //------------"分享到朋友圈"  
//				    wx.onMenuShareTimeline({  
//				        title: '1', // 分享标题  
//				        desc: '2', // 分享描述  
//				        link: 'http://www.baidu.com', // 分享链接  
//				        imgUrl: 'https://pic1.zhimg.com/da8e974dc_s.jpg', // 分享图标  
//				        type: '', // 分享类型,music、video或link，不填默认为link  
//				        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空  
//				        success: function () {  
//				            alert("朋友圈OK");  
//				        },  
//				        cancel: function () {  
//				           alert("朋友圈cancel");
//				        }  
//				    }); 
  		});
 	 }
});
</script>